<html><body><html itemscope="" itemtype="http://schema.org/WebPage" lang="en-IN">
 <body>
 
<center>
  <form id="f1" action='/top/search/' method="POST">
    {% csrf_token %}
    <center>
        <h1>
        MovieZap Search Engine
        </h1>
      </center>
       
          
          <input  style="box-shadow:         3px 3px 5px 6px lightcoral;border-radius:20px;border:5px solid red; font-size:25px;width:450px;height:50px;border-left-width:900px;line-height:1px;border-width:5px" aria-autocomplete="both" aria-haspopup="false" aria-label="Search" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" class="gLFyf gsfi" data-ved="0ahUKEwiNy5fJ15LqAhUIzzgGHQkVC1IQ39UDCAQ" jsaction="paste:puy29d" maxlength="2048" name="search" onsearch="submitse()" placeholder="MovieZap Search" role="combobox" spellcheck="false" title="Search" type="search" value=""/>
          
          
          
        
  <div style="width:480px;height:50px;">  
      </center>
       <center> 
      <input style="box-shadow:         3px 3px 5px 6px lightslategray;"class="gNO89b" aria-label="Google Search" name="btnK" type="submit" data-ved="0ahUKEwjbk4ul5orqAhX0xzgGHYlmAREQ4dUDCAo" value="MovieZap Search"> </input> 
    </center>
  </form> 
  <div style="width:480px;height:90px;">
  </div><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>title</th>
      <th>year</th>
      <th>date_published</th>
      <th>genre</th>
      <th>duration</th>
      <th>country</th>
      <th>language</th>
      <th>director</th>
      <th>writer</th>
      <th>actors</th>
      <th>description</th>
      <th>avg_vote</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Interstellar</td>
      <td>2014</td>
      <td>2014-11-07</td>
      <td>Adventure, Drama, Sci-Fi</td>
      <td>169</td>
      <td>USA, UK, Canada</td>
      <td>English</td>
      <td>Christopher Nolan</td>
      <td>Jonathan Nolan, Christopher Nolan</td>
      <td>Ellen Burstyn, Matthew McConaughey, Mackenzie Foy, John Lithgow, Timothée Chalamet, David Oyelowo, Collette Wolfe, Francis X. McCarthy, Bill Irwin, Anne Hathaway, Andrew Borba, Wes Bentley, William Devane, Michael Caine, David Gyasi</td>
      <td>A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.</td>
      <td>8.6</td>
    </tr>
    <tr>
      <td>Gladiator</td>
      <td>2000</td>
      <td>2000-05-12</td>
      <td>Action, Adventure, Drama</td>
      <td>155</td>
      <td>USA, UK, Malta, Morocco</td>
      <td>English</td>
      <td>Ridley Scott</td>
      <td>David Franzoni, David Franzoni</td>
      <td>Russell Crowe, Joaquin Phoenix, Connie Nielsen, Oliver Reed, Richard Harris, Derek Jacobi, Djimon Hounsou, David Schofield, John Shrapnel, Tomas Arana, Ralf Moeller, Spencer Treat Clark, David Hemmings, Tommy Flanagan, Sven-Ole Thorsen</td>
      <td>A former Roman General sets out to exact vengeance against the corrupt emperor who murdered his family and sent him into slavery.</td>
      <td>8.5</td>
    </tr>
    <tr>
      <td>The Prestige</td>
      <td>2006</td>
      <td>2006-11-10</td>
      <td>Drama, Mystery, Sci-Fi</td>
      <td>130</td>
      <td>USA, UK</td>
      <td>English</td>
      <td>Christopher Nolan</td>
      <td>Jonathan Nolan, Christopher Nolan</td>
      <td>Hugh Jackman, Christian Bale, Michael Caine, Piper Perabo, Rebecca Hall, Scarlett Johansson, Samantha Mahurin, David Bowie, Andy Serkis, Daniel Davis, Jim Piddock, Christopher Neame, Mark Ryan, Roger Rees, Jamie Harris</td>
      <td>After a tragic accident, two stage magicians engage in a battle to create the ultimate illusion while sacrificing everything they have to outwit each other.</td>
      <td>8.5</td>
    </tr>
    <tr>
      <td>V for Vendetta</td>
      <td>2005</td>
      <td>2006-03-17</td>
      <td>Action, Drama, Sci-Fi</td>
      <td>132</td>
      <td>USA, UK, Germany</td>
      <td>English</td>
      <td>James McTeigue</td>
      <td>Lilly Wachowski, Lana Wachowski</td>
      <td>Natalie Portman, Hugo Weaving, Stephen Rea, Stephen Fry, John Hurt, Tim Pigott-Smith, Rupert Graves, Roger Allam, Ben Miles, Sinéad Cusack, Natasha Wightman, John Standing, Eddie Marsan, Clive Ashborn, Emma Field-Rayner</td>
      <td>In a future British tyranny, a shadowy freedom fighter, known only by the alias of "V", plots to overthrow it with the help of a young woman.</td>
      <td>8.2</td>
    </tr>
    <tr>
      <td>Eternal Sunshine of the Spotless Mind</td>
      <td>2004</td>
      <td>2004-04-30</td>
      <td>Drama, Romance, Sci-Fi</td>
      <td>108</td>
      <td>USA</td>
      <td>English</td>
      <td>Michel Gondry</td>
      <td>Charlie Kaufman, Michel Gondry</td>
      <td>Jim Carrey, Kate Winslet, Gerry Robert Byrne, Elijah Wood, Thomas Jay Ryan, Mark Ruffalo, Jane Adams, David Cross, Kirsten Dunst, Tom Wilkinson, Ryan Whitney, Debbon Ayer, Amir Ali Said, Brian Price, Paulie Litt</td>
      <td>When their relationship turns sour, a couple undergoes a medical procedure to have each other erased from their memories.</td>
      <td>8.3</td>
    </tr>
    <tr>
      <td>A Beautiful Mind</td>
      <td>2001</td>
      <td>2002-03-01</td>
      <td>Biography, Drama</td>
      <td>135</td>
      <td>USA</td>
      <td>English</td>
      <td>Ron Howard</td>
      <td>Akiva Goldsman, Sylvia Nasar</td>
      <td>Russell Crowe, Ed Harris, Jennifer Connelly, Christopher Plummer, Paul Bettany, Adam Goldberg, Josh Lucas, Anthony Rapp, Jason Gray-Stanford, Judd Hirsch, Austin Pendleton, Vivien Cardone, Jillie Simon, Victor Steinbach, Tanya Clarke</td>
      <td>After</td>
      <td>8.2</td>
    </tr>
    <tr>
      <td>Gone Girl</td>
      <td>2014</td>
      <td>2014-10-02</td>
      <td>Drama, Mystery, Thriller</td>
      <td>149</td>
      <td>USA</td>
      <td>English</td>
      <td>David Fincher</td>
      <td>Gillian Flynn, Gillian Flynn</td>
      <td>Ben Affleck, Rosamund Pike, Neil Patrick Harris, Tyler Perry, Carrie Coon, Kim Dickens, Patrick Fugit, David Clennon, Lisa Banes, Missi Pyle, Emily Ratajkowski, Casey Wilson, Lola Kirke, Boyd Holbrook, Sela Ward</td>
      <td>With his wife's disappearance having become the focus of an intense media circus, a man sees the spotlight turned on him when it's suspected that he may not be innocent.</td>
      <td>8.1</td>
    </tr>
    <tr>
      <td>Requiem for a Dream</td>
      <td>2000</td>
      <td>2000-12-15</td>
      <td>Drama</td>
      <td>102</td>
      <td>USA</td>
      <td>English</td>
      <td>Darren Aronofsky</td>
      <td>Hubert Selby Jr., Hubert Selby Jr.</td>
      <td>Ellen Burstyn, Jared Leto, Jennifer Connelly, Marlon Wayans, Christopher McDonald, Louise Lasser, Marcia Jean Kurtz, Janet Sarno, Suzanne Shepherd, Joanne Gordon, Charlotte Aronofsky, Mark Margolis, Michael Kaycheck, Jack O'Connell, Chas Mastin</td>
      <td>The drug-induced utopias of four Coney Island people are shattered when their addictions run deep.</td>
      <td>8.3</td>
    </tr>
    <tr>
      <td>Donnie Darko</td>
      <td>2001</td>
      <td>2002-10-25</td>
      <td>Drama, Sci-Fi, Thriller</td>
      <td>113</td>
      <td>USA</td>
      <td>English</td>
      <td>Richard Kelly</td>
      <td>Richard Kelly</td>
      <td>Jake Gyllenhaal, Holmes Osborne, Maggie Gyllenhaal, Daveigh Chase, Mary McDonnell, James Duval, Arthur Taxier, Patrick Swayze, Mark Hoffman, David St. James, Tom Tangen, Jazzie Mahannah, Jolene Purdy, Stuart Stone, Gary Lundy</td>
      <td>A troubled teenager is plagued by visions of a man in a large rabbit suit who manipulates him to commit a series of crimes, after he narrowly escapes a bizarre accident.</td>
      <td>8.0</td>
    </tr>
    <tr>
      <td>Harry Potter and the Deathly Hallows: Part 2</td>
      <td>2011</td>
      <td>2011-07-15</td>
      <td>Adventure, Drama, Fantasy</td>
      <td>130</td>
      <td>USA, UK</td>
      <td>English</td>
      <td>David Yates</td>
      <td>Steve Kloves, J.K. Rowling</td>
      <td>Ralph Fiennes, Michael Gambon, Alan Rickman, Daniel Radcliffe, Rupert Grint, Emma Watson, Evanna Lynch, Domhnall Gleeson, Clémence Poésy, Warwick Davis, John Hurt, Helena Bonham Carter, Graham Duff, Anthony Allgood, Rusty Goffe</td>
      <td>Harry, Ron, and Hermione search for Voldemort's remaining Horcruxes in their effort to destroy the Dark Lord as the final battle rages on at Hogwarts.</td>
      <td>8.1</td>
    </tr>
    <tr>
      <td>300</td>
      <td>2006</td>
      <td>2007-03-23</td>
      <td>Action, Drama, Fantasy</td>
      <td>117</td>
      <td>USA, Canada, Bulgaria</td>
      <td>English</td>
      <td>Zack Snyder</td>
      <td>Zack Snyder, Kurt Johnstad</td>
      <td>Gerard Butler, Lena Headey, Dominic West, David Wenham, Vincent Regan, Michael Fassbender, Tom Wisdom, Andrew Pleavin, Andrew Tiernan, Rodrigo Santoro, Giovani Cimmino, Stephen McHattie, Greg Kramer, Alex Ivanovici, Kelly Craig</td>
      <td>King Leonidas of Sparta and a force of 300 men fight the Persians at Thermopylae in 480 B.C.</td>
      <td>7.7</td>
    </tr>
    <tr>
      <td>I Am Legend</td>
      <td>2007</td>
      <td>2007-12-26</td>
      <td>Drama, Sci-Fi, Thriller</td>
      <td>101</td>
      <td>USA</td>
      <td>English</td>
      <td>Francis Lawrence</td>
      <td>Mark Protosevich, Akiva Goldsman</td>
      <td>Will Smith, Alice Braga, Charlie Tahan, Salli Richardson-Whitfield, Willow Smith, Darrell Foster, April Grace, Dash Mihok, Joanna Numata, Abbey, Kona, Samuel Glen, James McCauley, Marin Ireland, Pedro Mojica</td>
      <td>Years after a plague kills most of humanity and transforms the rest into monsters, the sole survivor in New York City struggles valiantly to find a cure in this post-apocalyptic action thriller.</td>
      <td>7.2</td>
    </tr>
    <tr>
      <td>Whiplash</td>
      <td>2014</td>
      <td>2015-01-16</td>
      <td>Drama, Music</td>
      <td>106</td>
      <td>USA</td>
      <td>English</td>
      <td>Damien Chazelle</td>
      <td>Damien Chazelle</td>
      <td>Miles Teller, J.K. Simmons, Paul Reiser, Melissa Benoist, Austin Stowell, Nate Lang, Chris Mulkey, Damon Gupton, Suanne Spoke, Max Kasch, Charlie Ian, Jayson Blair, Kofi Siriboe, Kavita Patil, C.J. Vana</td>
      <td>A promising young drummer enrolls at a cut-throat music conservatory where his dreams of greatness are mentored by an instructor who will stop at nothing to realize a student's potential.</td>
      <td>8.5</td>
    </tr>
    <tr>
      <td>Silver Linings Playbook</td>
      <td>2012</td>
      <td>2012-11-21</td>
      <td>Comedy, Drama, Romance</td>
      <td>122</td>
      <td>USA</td>
      <td>English</td>
      <td>David O. Russell</td>
      <td>David O. Russell, Matthew Quick</td>
      <td>Bradley Cooper, Jennifer Lawrence, Robert De Niro, Jacki Weaver, Chris Tucker, Anupam Kher, John Ortiz, Shea Whigham, Julia Stiles, Paul Herman, Dash Mihok, Matthew Russell, Cheryl Williams, Patrick McDade, Brea Bee</td>
      <td>After a stint in a mental institution, former teacher Pat Solitano moves back in with his parents and tries to reconcile with his ex-wife. Things get more challenging when Pat meets Tiffany, a mysterious girl with problems of her own.</td>
      <td>7.7</td>
    </tr>
    <tr>
      <td>The King's Speech</td>
      <td>2010</td>
      <td>2011-01-07</td>
      <td>Biography, Drama, History</td>
      <td>118</td>
      <td>UK, USA, Australia</td>
      <td>English</td>
      <td>Tom Hooper</td>
      <td>David Seidler</td>
      <td>Colin Firth, Helena Bonham Carter, Derek Jacobi, Robert Portal, Richard Dixon, Paul Trussell, Adrian Scarborough, Andrew Havill, Charles Armstrong, Roger Hammond, Geoffrey Rush, Calum Gittins, Jennifer Ehle, Dominic Applewhite, Ben Wimsett</td>
      <td>The story of</td>
      <td>8.0</td>
    </tr>
    <tr>
      <td>12 Years a Slave</td>
      <td>2013</td>
      <td>2014-01-10</td>
      <td>Biography, Drama, History</td>
      <td>134</td>
      <td>USA, UK</td>
      <td>English</td>
      <td>Steve McQueen</td>
      <td>John Ridley, Solomon Northup</td>
      <td>Chiwetel Ejiofor, Dwight Henry, Dickie Gravois, Bryan Batt, Ashley Dyke, Kelsey Scott, Quvenzhané Wallis, Cameron Zeigler, Tony Bentley, Scoot McNairy, Taran Killam, Christopher Berry, Bill Camp, Mister Mackey Jr., Chris Chalk</td>
      <td>In the antebellum United States,</td>
      <td>8.1</td>
    </tr>
    <tr>
      <td>Prisoners</td>
      <td>2013</td>
      <td>2013-09-27</td>
      <td>Crime, Drama, Mystery</td>
      <td>153</td>
      <td>USA</td>
      <td>English</td>
      <td>Denis Villeneuve</td>
      <td>Aaron Guzikowski</td>
      <td>Hugh Jackman, Jake Gyllenhaal, Viola Davis, Maria Bello, Terrence Howard, Melissa Leo, Paul Dano, Dylan Minnette, Zoë Soul, Erin Gerasimovich, Kyla-Drew, Wayne Duvall, Len Cariou, David Dastmalchian, Brad James</td>
      <td>When Keller Dover's daughter and her friend go missing, he takes matters into his own hands as the police pursue multiple leads and the pressure mounts.</td>
      <td>8.1</td>
    </tr>
    <tr>
      <td>Birdman or (The Unexpected Virtue of Ignorance)</td>
      <td>2014</td>
      <td>2015-01-02</td>
      <td>Comedy, Drama</td>
      <td>119</td>
      <td>USA</td>
      <td>English</td>
      <td>Alejandro G. Iñárritu</td>
      <td>Alejandro G. Iñárritu, Nicolás Giacobone</td>
      <td>Michael Keaton, Emma Stone, Kenny Chin, Jamahl Garrison-Lowe, Zach Galifianakis, Naomi Watts, Jeremy Shamos, Andrea Riseborough, Katherine O'Sullivan, Damian Young, Keenan Shimizu, Akira Ito, Natalie Gold, Merritt Wever, Edward Norton</td>
      <td>A washed-up superhero actor attempts to revive his fading career by writing, directing, and starring in a Broadway production.</td>
      <td>7.7</td>
    </tr>
    <tr>
      <td>Her</td>
      <td>2013</td>
      <td>2014-02-14</td>
      <td>Drama, Romance, Sci-Fi</td>
      <td>126</td>
      <td>USA</td>
      <td>English</td>
      <td>Spike Jonze</td>
      <td>Spike Jonze</td>
      <td>Joaquin Phoenix, Lynn Adrianna, Lisa Renee Pitts, Gabe Gomez, Chris Pratt, Artt Butler, May Lindstrom, Rooney Mara, Bill Hader, Kristen Wiig, Brian Johnson, Scarlett Johansson, Amy Adams, Matt Letscher, Spike Jonze</td>
      <td>In a near future, a lonely writer develops an unlikely relationship with an operating system designed to meet his every need.</td>
      <td>8.0</td>
    </tr>
    <tr>
      <td>The Notebook</td>
      <td>2004</td>
      <td>2004-06-25</td>
      <td>Drama, Romance</td>
      <td>123</td>
      <td>USA</td>
      <td>English</td>
      <td>Nick Cassavetes</td>
      <td>Jeremy Leven, Jan Sardi</td>
      <td>Tim Ivey, Gena Rowlands, Starletta DuPois, James Garner, Anthony-Michael Q. Thomas, Ed Grady, Renée Amber, Jennifer Echols, Geoffrey Knight, Kevin Connolly, Ryan Gosling, Heather Wahlquist, Rachel McAdams, Andrew Schaff, Matt Shelly</td>
      <td>A poor yet passionate young man falls in love with a rich young woman, giving her a sense of freedom, but they are soon separated because of their social differences.</td>
      <td>7.8</td>
    </tr>
    <tr>
      <td>I, Robot</td>
      <td>2004</td>
      <td>2004-08-06</td>
      <td>Action, Crime, Drama</td>
      <td>115</td>
      <td>USA, Germany</td>
      <td>English</td>
      <td>Alex Proyas</td>
      <td>Jeff Vintar, Akiva Goldsman</td>
      <td>Will Smith, Bridget Moynahan, Alan Tudyk, James Cromwell, Bruce Greenwood, Adrian Ricard, Chi McBride, Jerry Wasserman, Fiona Hogan, Peter Shinkoda, Terry Chen, David Haysom, Scott Heindl, Sharon Wilkins, Craig March</td>
      <td>In 2035, a technophobic cop investigates a crime that may have been perpetrated by a robot, which leads to a larger threat to humanity.</td>
      <td>7.1</td>
    </tr>
    <tr>
      <td>Juno</td>
      <td>2007</td>
      <td>2008-02-08</td>
      <td>Comedy, Drama</td>
      <td>96</td>
      <td>USA</td>
      <td>English</td>
      <td>Jason Reitman</td>
      <td>Diablo Cody</td>
      <td>Ellen Page, Michael Cera, Jennifer Garner, Jason Bateman, Allison Janney, J.K. Simmons, Olivia Thirlby, Eileen Pedde, Rainn Wilson, Daniel Clark, Darla Fay, Aman Johal, Valerie Tian, Emily Perkins, Kaaren de Zilva</td>
      <td>Faced with an unplanned pregnancy, an offbeat young woman makes an unusual decision regarding her unborn child.</td>
      <td>7.4</td>
    </tr>
    <tr>
      <td>Watchmen</td>
      <td>2009</td>
      <td>2009-03-06</td>
      <td>Action, Drama, Mystery</td>
      <td>162</td>
      <td>USA</td>
      <td>English</td>
      <td>Zack Snyder</td>
      <td>David Hayter, Alex Tse</td>
      <td>Malin Akerman, Billy Crudup, Matthew Goode, Jackie Earle Haley, Jeffrey Dean Morgan, Patrick Wilson, Carla Gugino, Matt Frewer, Stephen McHattie, Laura Mennell, Rob LaBelle, Gary Houston, James M. Connor, Mary Ann Burger, John Shaw</td>
      <td>In 1985 where former superheroes exist, the murder of a colleague sends active vigilante Rorschach into his own sprawling investigation, uncovering something that could completely change the course of history as we know it.</td>
      <td>7.6</td>
    </tr>
    <tr>
      <td>Joker</td>
      <td>2019</td>
      <td>2019-10-04</td>
      <td>Crime, Drama, Thriller</td>
      <td>122</td>
      <td>USA, Canada</td>
      <td>English</td>
      <td>Todd Phillips</td>
      <td>Todd Phillips, Scott Silver</td>
      <td>Joaquin Phoenix, Robert De Niro, Zazie Beetz, Frances Conroy, Brett Cullen, Shea Whigham, Bill Camp, Glenn Fleshler, Leigh Gill, Josh Pais, Rocco Luna, Marc Maron, Sondra James, Murphy Guyer, Douglas Hodge</td>
      <td>In Gotham City, mentally-troubled comedian Arthur Fleck is disregarded and mistreated by society. He then embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his alter-ego: "The Joker".</td>
      <td>8.8</td>
    </tr>
    <tr>
      <td>Troy</td>
      <td>2004</td>
      <td>2004-05-21</td>
      <td>Drama, History</td>
      <td>163</td>
      <td>USA, Malta, UK</td>
      <td>English</td>
      <td>Wolfgang Petersen</td>
      <td>Homer, David Benioff</td>
      <td>Julian Glover, Brian Cox, Nathan Jones, Adoni Maropis, Jacob Smith, Brad Pitt, John Shrapnel, Brendan Gleeson, Diane Kruger, Eric Bana, Orlando Bloom, Siri Svegler, Lucie Barat, Ken Bones, Manuel Cauchi</td>
      <td>An adaptation of Homer's great epic, the film follows the assault on Troy by the united Greek forces and chronicles the fates of the men involved.</td>
      <td>7.2</td>
    </tr>
    <tr>
      <td>Source Code</td>
      <td>2011</td>
      <td>2011-04-01</td>
      <td>Action, Drama, Mystery</td>
      <td>93</td>
      <td>USA, Canada</td>
      <td>English</td>
      <td>Duncan Jones</td>
      <td>Ben Ripley</td>
      <td>Jake Gyllenhaal, Michelle Monaghan, Vera Farmiga, Jeffrey Wright, Michael Arden, Cas Anvar, Russell Peters, Brent Skagford, Craig Thomas, Gordon Masten, Susan Bain, Paula Jean Hixson, Lincoln Ward, Kyle Gatehouse, Albert Kwan</td>
      <td>A soldier wakes up in someone else's body and discovers he's part of an experimental government program to find the bomber of a commuter train within 8 minutes.</td>
      <td>7.5</td>
    </tr>
    <tr>
      <td>La La Land</td>
      <td>2016</td>
      <td>2017-01-12</td>
      <td>Comedy, Drama, Music</td>
      <td>128</td>
      <td>USA, Hong Kong</td>
      <td>English</td>
      <td>Damien Chazelle</td>
      <td>Damien Chazelle</td>
      <td>Ryan Gosling, Emma Stone, Amiée Conn, Terry Walters, Thom Shelton, Cinda Adams, Callie Hernandez, Jessica Rothe, Sonoya Mizuno, Rosemarie DeWitt, J.K. Simmons, Claudine Claudio, Jason Fuchs, D.A. Wallach, Trevor Lissauer</td>
      <td>While navigating their careers in Los Angeles, a pianist and an actress fall in love while attempting to reconcile their aspirations for the future.</td>
      <td>8.0</td>
    </tr>
    <tr>
      <td>Crazy, Stupid, Love.</td>
      <td>2011</td>
      <td>2011-09-23</td>
      <td>Comedy, Drama, Romance</td>
      <td>118</td>
      <td>USA</td>
      <td>English</td>
      <td>Glenn Ficarra, John Requa</td>
      <td>Dan Fogelman</td>
      <td>Steve Carell, Ryan Gosling, Julianne Moore, Emma Stone, Analeigh Tipton, Jonah Bobo, Joey King, Marisa Tomei, Beth Littleford, John Carroll Lynch, Kevin Bacon, Liza Lapira, Josh Groban, Mekia Cox, Julianna Guill</td>
      <td>A middle-aged husband's life changes dramatically when his wife asks him for a divorce. He seeks to rediscover his manhood with the help of a newfound friend, Jacob, learning to pick up girls at bars.</td>
      <td>7.4</td>
    </tr>
    <tr>
      <td>The Great Gatsby</td>
      <td>2013</td>
      <td>2013-05-16</td>
      <td>Drama, Romance</td>
      <td>143</td>
      <td>Australia, USA</td>
      <td>English</td>
      <td>Baz Luhrmann</td>
      <td>Baz Luhrmann, Craig Pearce</td>
      <td>Lisa Adam, Frank Aldridge, Amitabh Bachchan, Steve Bisley, Richard Carter, Jason Clarke, Adelaide Clemens, Vince Colosimo, Max Cullen, Mal Day, Elizabeth Debicki, Leonardo DiCaprio, Joel Edgerton, Emmanuel Ekwenski, Eden Falk</td>
      <td>A writer and wall street trader, Nick, finds himself drawn to the past and lifestyle of his millionaire neighbor, Jay Gatsby.</td>
      <td>7.3</td>
    </tr>
    <tr>
      <td>Ex Machina</td>
      <td>2014</td>
      <td>2015-01-23</td>
      <td>Drama, Mystery, Sci-Fi</td>
      <td>108</td>
      <td>UK</td>
      <td>English</td>
      <td>Alex Garland</td>
      <td>Alex Garland</td>
      <td>Domhnall Gleeson, Alicia Vikander, Oscar Isaac, Sonoya Mizuno, Corey Johnson, Claire Selby, Symara A. Templeman, Gana Bayarsaikhan, Tiffany Pisani, Elina Alminas</td>
      <td>A young programmer is selected to participate in a ground-breaking experiment in synthetic intelligence by evaluating the human qualities of a highly advanced humanoid A.I.</td>
      <td>7.7</td>
    </tr>
    <tr>
      <td>The Perks of Being a Wallflower</td>
      <td>2012</td>
      <td>2012-10-03</td>
      <td>Drama</td>
      <td>103</td>
      <td>USA</td>
      <td>English</td>
      <td>Stephen Chbosky</td>
      <td>Stephen Chbosky, Stephen Chbosky</td>
      <td>Logan Lerman, Dylan McDermott, Kate Walsh, Patrick de Ledebur, Johnny Simmons, Brian Balzerini, Tom Kruszewski, Nina Dobrev, Nicholas Braun, Julia Garner, Ezra Miller, Tom Savini, Emily Marie Callaway, Paul Rudd, Chelsea Zhang</td>
      <td>An introvert freshman is taken under the wings of two seniors who welcome him to the real world.</td>
      <td>8.0</td>
    </tr>
    <tr>
      <td>The Butterfly Effect</td>
      <td>2004</td>
      <td>2004-04-16</td>
      <td>Drama, Sci-Fi, Thriller</td>
      <td>113</td>
      <td>USA, Canada</td>
      <td>English</td>
      <td>Eric Bress, J. Mackye Gruber</td>
      <td>J. Mackye Gruber, Eric Bress</td>
      <td>Ashton Kutcher, Melora Walters, Amy Smart, Elden Henson, William Lee Scott, John Patrick Amedori, Irina Gorovaia, Kevin G. Schmidt, Jesse James, Logan Lerman, Sarah Widdows, Jake Kaese, Cameron Bright, Eric Stoltz, Callum Keith Rennie</td>
      <td>Evan Treborn suffers blackouts during significant events of his life. As he grows up, he finds a way to remember these lost memories and a supernatural way to alter his life by reading his journal.</td>
      <td>7.6</td>
    </tr>
    <tr>
      <td>Nightcrawler</td>
      <td>2014</td>
      <td>2014-10-31</td>
      <td>Crime, Drama, Thriller</td>
      <td>117</td>
      <td>USA</td>
      <td>English</td>
      <td>Dan Gilroy</td>
      <td>Dan Gilroy</td>
      <td>Jake Gyllenhaal, Michael Papajohn, Marco Rodríguez, Bill Paxton, James Huang, Kent Shocknek, Pat Harvey, Sharon Tay, Rick Garcia, Leah Fredkin, Bill Seward, Rick Chambers, Holly Hannula, Jonny Coyne, Nick Chacon</td>
      <td>When Louis Bloom, a con man desperate for work, muscles into the world of L.A. crime journalism, he blurs the line between observer and participant to become the star of his own story.</td>
      <td>7.9</td>
    </tr>
    <tr>
      <td>Little Miss Sunshine</td>
      <td>2006</td>
      <td>2006-09-08</td>
      <td>Comedy, Drama</td>
      <td>101</td>
      <td>USA</td>
      <td>English</td>
      <td>Jonathan Dayton, Valerie Faris</td>
      <td>Michael Arndt</td>
      <td>Abigail Breslin, Greg Kinnear, Paul Dano, Alan Arkin, Toni Collette, Steve Carell, Marc Turtletaub, Jill Talley, Brenda Canela, Julio Oscar Mechoso, Chuck Loring, Justin Shilton, Gordon Thomson, Steven Christopher Parker, Bryan Cranston</td>
      <td>A family determined to get their young daughter into the finals of a beauty pageant take a cross-country trip in their VW bus.</td>
      <td>7.8</td>
    </tr>
    <tr>
      <td>Zodiac</td>
      <td>2007</td>
      <td>2007-05-18</td>
      <td>Crime, Drama, Mystery</td>
      <td>157</td>
      <td>USA</td>
      <td>English</td>
      <td>David Fincher</td>
      <td>James Vanderbilt, Robert Graysmith</td>
      <td>Jake Gyllenhaal, Mark Ruffalo, Anthony Edwards, Robert Downey Jr., Brian Cox, John Carroll Lynch, Richmond Arquette, Bob Stephenson, John Lacy, Chloë Sevigny, Ed Setrakian, John Getz, John Terry, Candy Clark, Elias Koteas</td>
      <td>In the late 1960s/early 1970s, a San Francisco cartoonist becomes an amateur detective obsessed with tracking down the Zodiac Killer, an unidentified individual who terrorizes Northern California with a killing spree.</td>
      <td>7.7</td>
    </tr>
    <tr>
      <td>Twilight</td>
      <td>2008</td>
      <td>2008-12-19</td>
      <td>Drama, Fantasy, Romance</td>
      <td>122</td>
      <td>USA</td>
      <td>English</td>
      <td>Catherine Hardwicke</td>
      <td>Melissa Rosenberg, Stephenie Meyer</td>
      <td>Kristen Stewart, Sarah Clarke, Matt Bushell, Billy Burke, Gil Birmingham, Taylor Lautner, Gregory Tyree Boyce, Justin Chon, Michael Welch, Anna Kendrick, Christian Serratos, Nikki Reed, Kellan Lutz, Ashley Greene, Jackson Rathbone</td>
      <td>Bella Swan moves to Forks and encounters Edward Cullen, a gorgeous boy with a secret.</td>
      <td>5.2</td>
    </tr>
    <tr>
      <td>The Help</td>
      <td>2011</td>
      <td>2011-10-26</td>
      <td>Drama</td>
      <td>146</td>
      <td>USA, India, United Arab Emirates, UK, France, Canada, Germany</td>
      <td>English</td>
      <td>Tate Taylor</td>
      <td>Tate Taylor, Kathryn Stockett</td>
      <td>Emma Stone, Viola Davis, Bryce Dallas Howard, Octavia Spencer, Jessica Chastain, Ahna O'Reilly, Allison Janney, Anna Camp, Eleanor Henry, Emma Henry, Chris Lowell, Cicely Tyson, Mike Vogel, Sissy Spacek, Brian Kerwin</td>
      <td>An aspiring author during the civil rights movement of the 1960s decides to write a book detailing the African American maids' point of view on the white families for which they work, and the hardships they go through on a daily basis.</td>
      <td>8.1</td>
    </tr>
    <tr>
      <td>Mystic River</td>
      <td>2003</td>
      <td>2003-10-24</td>
      <td>Crime, Drama, Mystery</td>
      <td>138</td>
      <td>USA, Australia</td>
      <td>English</td>
      <td>Clint Eastwood</td>
      <td>Brian Helgeland, Dennis Lehane</td>
      <td>Sean Penn, Tim Robbins, Kevin Bacon, Laurence Fishburne, Marcia Gay Harden, Laura Linney, Kevin Chapman, Tom Guiry, Emmy Rossum, Spencer Treat Clark, Andrew Mackin, Adam Nelson, Robert Wahlberg, Jenny O'Hara, John Doman</td>
      <td>The lives of three men who were childhood friends are shattered when one of them has a family tragedy.</td>
      <td>7.9</td>
    </tr>
    <tr>
      <td>Bohemian Rhapsody</td>
      <td>2018</td>
      <td>2018-10-24</td>
      <td>Biography, Drama, Music</td>
      <td>134</td>
      <td>UK, USA</td>
      <td>English</td>
      <td>Bryan Singer</td>
      <td>Anthony McCarten, Peter Morgan</td>
      <td>Rami Malek, Lucy Boynton, Gwilym Lee, Ben Hardy, Joseph Mazzello, Aidan Gillen, Allen Leech, Tom Hollander, Mike Myers, Aaron McCusker, Meneka Das, Ace Bhatti, Priya Blackburn, Dermot Murphy, Dickie Beau</td>
      <td>The story of the legendary British rock band</td>
      <td>8.0</td>
    </tr>
    <tr>
      <td>Spotlight</td>
      <td>2015</td>
      <td>2016-01-29</td>
      <td>Biography, Crime, Drama</td>
      <td>129</td>
      <td>USA</td>
      <td>English</td>
      <td>Tom McCarthy</td>
      <td>Josh Singer, Tom McCarthy</td>
      <td>Mark Ruffalo, Michael Keaton, Rachel McAdams, Liev Schreiber, John Slattery, Brian d'Arcy James, Stanley Tucci, Elena Wohl, Gene Amoroso, Doug Murray, Sharon McFarlane, Jamey Sheridan, Neal Huff, Billy Crudup, Robert B. Kennedy</td>
      <td>The true story of how the Boston Globe uncovered the massive scandal of child molestation and cover-up within the local Catholic Archdiocese, shaking the entire Catholic Church to its core.</td>
      <td>8.1</td>
    </tr>
    <tr>
      <td>King Kong</td>
      <td>2005</td>
      <td>2005-12-15</td>
      <td>Action, Adventure, Drama</td>
      <td>187</td>
      <td>New Zealand, USA, Germany</td>
      <td>English</td>
      <td>Peter Jackson</td>
      <td>Fran Walsh, Philippa Boyens</td>
      <td>Naomi Watts, Jack Black, Adrien Brody, Thomas Kretschmann, Colin Hanks, Andy Serkis, Evan Parke, Jamie Bell, Lobo Chan, John Sumner, Craig Hall, Kyle Chandler, William Johnson, Mark Hadlow, Geraldine Brophy</td>
      <td>A greedy film producer assembles a team of moviemakers and sets out for the infamous Skull Island, where they find more than just cannibalistic natives.</td>
      <td>7.2</td>
    </tr>
    <tr>
      <td>In Bruges</td>
      <td>2008</td>
      <td>2008-03-07</td>
      <td>Comedy, Crime, Drama</td>
      <td>107</td>
      <td>UK, USA</td>
      <td>English</td>
      <td>Martin McDonagh</td>
      <td>Martin McDonagh</td>
      <td>Elizabeth Berrington, Rudy Blomme, Olivier Bonjour, Mark Donovan, Ann Elsley, Colin Farrell, Jean-Marc Favorin, Ralph Fiennes, Brendan Gleeson, Eric Godon, Zeljko Ivanek, Sachi Kimura, Anna Madeley, Louis Nummy, Clémence Poésy</td>
      <td>Guilt-stricken after a job gone wrong, hitman Ray and his partner await orders from their ruthless boss in Bruges, Belgium, the last place in the world Ray wants to be.</td>
      <td>7.9</td>
    </tr>
    <tr>
      <td>Three Billboards Outside Ebbing, Missouri</td>
      <td>2017</td>
      <td>2018-01-12</td>
      <td>Comedy, Crime, Drama</td>
      <td>115</td>
      <td>UK, USA</td>
      <td>English</td>
      <td>Martin McDonagh</td>
      <td>Martin McDonagh</td>
      <td>Frances McDormand, Caleb Landry Jones, Kerry Condon, Sam Rockwell, Alejandro Barrios, Jason Ledford, Darrell Britt-Gibson, Woody Harrelson, Abbie Cornish, Riya May Atwood, Selah Atwood, Lucas Hedges, Zeljko Ivanek, Amanda Warren, Malaya Rivera Drew</td>
      <td>A mother personally challenges the local authorities to solve her daughter's murder when they fail to catch the culprit.</td>
      <td>8.2</td>
    </tr>
    <tr>
      <td>Unbreakable</td>
      <td>2000</td>
      <td>2000-12-29</td>
      <td>Drama, Mystery, Sci-Fi</td>
      <td>106</td>
      <td>USA</td>
      <td>English</td>
      <td>M. Night Shyamalan</td>
      <td>M. Night Shyamalan</td>
      <td>Bruce Willis, Samuel L. Jackson, Robin Wright, Spencer Treat Clark, Charlayne Woodard, Eamonn Walker, Leslie Stefanson, Johnny Hiram Jamison, Michaelia Carroll, Bostin Christopher, Elizabeth Lawrence, Davis Duffield, Laura Regan, Chance Kelly, Michael Kelly</td>
      <td>A man learns something extraordinary about himself after a devastating accident.</td>
      <td>7.3</td>
    </tr>
    <tr>
      <td>The Illusionist</td>
      <td>2006</td>
      <td>2007-03-02</td>
      <td>Drama, Fantasy, History</td>
      <td>110</td>
      <td>USA, Czech Republic</td>
      <td>English</td>
      <td>Neil Burger</td>
      <td>Neil Burger, Steven Millhauser</td>
      <td>Edward Norton, Paul Giamatti, Jessica Biel, Rufus Sewell, Eddie Marsan, Jake Wood, Tom Fisher, Aaron Taylor-Johnson, Eleanor Tomlinson, Karl Johnson, Vincent Franklin, Nicholas Blane, Philip McGough, Erich Redman, Michael Carter</td>
      <td>In turn-of-the-century Vienna, a magician uses his abilities to secure the love of a woman far above his social standing.</td>
      <td>7.6</td>
    </tr>
    <tr>
      <td>Easy A</td>
      <td>2010</td>
      <td>2010-10-22</td>
      <td>Comedy, Drama, Romance</td>
      <td>92</td>
      <td>USA</td>
      <td>English</td>
      <td>Will Gluck</td>
      <td>Bert V. Royal</td>
      <td>Emma Stone, Penn Badgley, Amanda Bynes, Dan Byrd, Thomas Haden Church, Patricia Clarkson, Cam Gigandet, Lisa Kudrow, Malcolm McDowell, Aly Michalka, Stanley Tucci, Fred Armisen, Juliette Goglia, Jake Sandvig, Morgan Rusler</td>
      <td>A clean-cut high school student relies on the school's rumor mill to advance her social and financial standing.</td>
      <td>7.1</td>
    </tr>
    <tr>
      <td>Moneyball</td>
      <td>2011</td>
      <td>2011-11-25</td>
      <td>Biography, Drama, Sport</td>
      <td>133</td>
      <td>USA</td>
      <td>English</td>
      <td>Bennett Miller</td>
      <td>Steven Zaillian, Aaron Sorkin</td>
      <td>Brad Pitt, Jonah Hill, Philip Seymour Hoffman, Robin Wright, Chris Pratt, Stephen Bishop, Reed Diamond, Brent Jennings, Ken Medlock, Tammy Blanchard, Jack McGee, Vyto Ruginis, Nick Searcy, Glenn Morshower, Casey Bond</td>
      <td>Oakland A's general manager Billy Beane's successful attempt to assemble a baseball team on a lean budget by employing computer-generated analysis to acquire new players.</td>
      <td>7.6</td>
    </tr>
    <tr>
      <td>Room</td>
      <td>2015</td>
      <td>2016-01-15</td>
      <td>Drama, Thriller</td>
      <td>118</td>
      <td>Ireland, Canada, UK, USA</td>
      <td>English</td>
      <td>Lenny Abrahamson</td>
      <td>Emma Donoghue, Emma Donoghue</td>
      <td>Brie Larson, Jacob Tremblay, Sean Bridgers, Wendy Crewson, Sandy McMaster, Matt Gordon, Amanda Brugel, Joe Pingue, Joan Allen, Zarrin Darnell-Martin, Cas Anvar, William H. Macy, Jee-Yun Lee, Randal Edwards, Justin Mader</td>
      <td>Held captive for 7 years in an enclosed space, a woman and her young son finally gain their freedom, allowing the boy to experience the outside world for the first time.</td>
      <td>8.1</td>
    </tr>
    <tr>
      <td>The Town</td>
      <td>2010</td>
      <td>2010-09-24</td>
      <td>Crime, Drama, Thriller</td>
      <td>125</td>
      <td>USA</td>
      <td>English</td>
      <td>Ben Affleck</td>
      <td>Peter Craig, Ben Affleck</td>
      <td>Ben Affleck, Rebecca Hall, Jon Hamm, Jeremy Renner, Blake Lively, Slaine, Owen Burke, Titus Welliver, Pete Postlethwaite, Chris Cooper, Dennis McLaughlin, Corena Chase, Brian Scannell, Kerri Dunbar, Tony V.</td>
      <td>As he plans his next job, a longtime thief tries to balance his feelings for a bank manager connected to one of his earlier heists, as well as the F.B.I. Agent looking to bring him and his crew down.</td>
      <td>7.5</td>
    </tr>
    <tr>
      <td>The Fault in Our Stars</td>
      <td>2014</td>
      <td>2014-06-19</td>
      <td>Drama, Romance</td>
      <td>126</td>
      <td>USA</td>
      <td>English</td>
      <td>Josh Boone</td>
      <td>Scott Neustadter, Michael H. Weber</td>
      <td>Shailene Woodley, Ansel Elgort, Nat Wolff, Laura Dern, Sam Trammell, Willem Dafoe, Lotte Verbeek, Ana Dela Cruz, Randy Kovitz, Toni Saladna, David Whalen, Milica Govich, Allegra Carpenter, Emily Peachey, Emily Bach</td>
      <td>Two teenage cancer patients begin a life-affirming journey to visit a reclusive author in Amsterdam.</td>
      <td>7.7</td>
    </tr>
  </tbody>
</table></body></html>