<html><body><form action="/intro/" method="POST"> <input class="gNO89b" aria-label="Google Search" name="btnK" type="submit" data-ved="0ahUKEwjbk4ul5orqAhX0xzgGHYlmAREQ4dUDCAo" value="MovieZap Search">  {% csrf_token %}</input>   </form>      <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>year</th>
      <th>date_published</th>
      <th>genre</th>
      <th>duration</th>
      <th>country</th>
      <th>language</th>
      <th>director</th>
      <th>writer</th>
      <th>actors</th>
      <th>description</th>
      <th>avg_vote</th>
      <th>votes</th>
    </tr>
    <tr>
      <th>imdb_title_id</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>tt4679210</th>
      <td>Premam</td>
      <td>2015</td>
      <td>2015-06-19</td>
      <td>Comedy, Drama, Romance</td>
      <td>156</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Alphonse Puthren</td>
      <td>Alphonse Puthren</td>
      <td>Nivin Pauly, Sai Pallavi, Madonna Sebastian, S.V. Krishna Shankar, Shabareesh Varma, Anupama Parameshwaran, Vinay Forrt, Soubin Shahir, Siju Wilson, Ananth Nag, Sharafudheen, Dinesh Nair, Jude Anthany Joseph, Franko Davis, Justin John</td>
      <td>A young man has three opportunities to find love. Will the third time be the charm?</td>
      <td>8.3</td>
      <td>14459</td>
    </tr>
    <tr>
      <th>tt3668162</th>
      <td>Bangalore Days</td>
      <td>2014</td>
      <td>2014-06-21</td>
      <td>Comedy, Drama, Romance</td>
      <td>171</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Anjali Menon</td>
      <td>Anjali Menon, Anjali Menon</td>
      <td>Nazriya Nazim, Nivin Pauly, Dulquer Salmaan, Fahadh Faasil, Parvathy Thiruvothu, Isha Talwar, Nithya Menon, Kalpana, Maniyanpilla Raju, Praveena, Vijayaraghavan, Sijoy Varghese, Sajid Yahiya, Prathap Pothen, Vinaya Prakash</td>
      <td>Three cousins set out to fulfill their Bangalore dreams.</td>
      <td>8.3</td>
      <td>13629</td>
    </tr>
    <tr>
      <th>tt4888834</th>
      <td>Ennu Ninte Moideen</td>
      <td>2015</td>
      <td>2015-09-19</td>
      <td>Biography, Drama, Romance</td>
      <td>166</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>R.S. Vimal</td>
      <td>R.S. Vimal</td>
      <td>Prithviraj Sukumaran, Parvathy Thiruvothu, Saikumar, Tovino Thomas, Lena, Sudheer Karamana, Bala, Shivaji Guruvayoor, Sashi Kumar, Kalaranjini, Devi Ajith, Charutha Baiju, Indrans, Disney James, Vijayan Karanthoor</td>
      <td>Based on the real-life love story of Moideen and Kanchanamala, which happened in the 1960s in the backdrop of Calicut.</td>
      <td>8.0</td>
      <td>4239</td>
    </tr>
    <tr>
      <th>tt8413338</th>
      <td>Kumbalangi Nights</td>
      <td>2019</td>
      <td>2019-02-22</td>
      <td>Comedy, Drama, Romance</td>
      <td>135</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Madhu C. Narayanan</td>
      <td>Syam Pushkaran</td>
      <td>Shane Nigam, Soubin Shahir, Fahadh Faasil, Sreenath Bhasi, Mathew Thomas, Ramesh Thilak, Anna Ben, Jasmine Metivier, Grace Antony, Sheela Rajkumar, Riya Saira, Ambika Rao, Baiju Ezhupunna, Mirage, Ajith Moorkoth</td>
      <td>The film revolves around four brothers who share a love-hate relationship with each other. Their relationship progresses to another level when Saji, Boney, and Franky decide to help Bobby stand by his love.</td>
      <td>8.6</td>
      <td>4139</td>
    </tr>
    <tr>
      <th>tt3517192</th>
      <td>Ohm Shanthi Oshaana</td>
      <td>2014</td>
      <td>2014-02-07</td>
      <td>Comedy, Romance</td>
      <td>136</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Jude Anthany Joseph</td>
      <td>Jude Anthany Joseph, Midhun Manuel Thomas</td>
      <td>Nazriya Nazim, Nivin Pauly, Aju Varghese, Vineeth Sreenivasan, Renji Panicker, Anju Kurian, Nikki Galrani, Lal Jose, Kalesh Kannattu, Shobha Mohan, Vinaya Prakash, Manju Satheesh, Sharafudheen, Nimisha Suresh, Unnikrishnan</td>
      <td>A spirited young girl would stop at nothing to get the first love of her life, even if it takes seven years and several heartbreaks.</td>
      <td>7.7</td>
      <td>3926</td>
    </tr>
    <tr>
      <th>tt2248028</th>
      <td>Thattathin Marayathu</td>
      <td>2012</td>
      <td>2012-07-06</td>
      <td>Drama, Musical, Romance</td>
      <td>127</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Vineeth Sreenivasan</td>
      <td>Vineeth Sreenivasan</td>
      <td>Nivin Pauly, Isha Talwar, Srinda Ashab, Manoj K. Jayan, John Kaippallil, Pradeep Kottayam, Manikuttan, Bhagath Baby Manuel, Nahiyan, Deepak Parambol, Ganesh Raj, Sreeram Ramachandran, Anwar Shereef, Ahamed Siddique, Sreenivasan</td>
      <td>The struggles faced when a Hindu man falls in love with a Muslim woman and the disapproval of her family.</td>
      <td>7.4</td>
      <td>3275</td>
    </tr>
    <tr>
      <th>tt0867145</th>
      <td>Classmates</td>
      <td>2006</td>
      <td>2006-08-01</td>
      <td>Drama, Mystery, Romance</td>
      <td>175</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Lal Jose</td>
      <td>James Albert</td>
      <td>Prithviraj Sukumaran, Indrajith Sukumaran, Kavya Madhavan, Narain, Jayasurya, Radhika, Vijeesh, Jagathi Sreekumar, Balachandra Menon, Shobha Mohan, Suraj Venjaramoodu, V.K. Sriraman, Sukumari, Anoop Chandran</td>
      <td>College classmates meet for a 10-year reunion, which does not go as smoothly as planned. Love is discovered, friendships are broken and secrets about tragic events in the past are revealed.</td>
      <td>8.1</td>
      <td>2903</td>
    </tr>
    <tr>
      <th>tt2786278</th>
      <td>Amen</td>
      <td>2013</td>
      <td>2013-03-22</td>
      <td>Drama, Musical, Romance</td>
      <td>165</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Lijo Jose Pellissery</td>
      <td>P.S. Rafeeque, P.S. Rafeeque</td>
      <td>Fahadh Faasil, Indrajith Sukumaran, Kalabhavan Mani, Swathi Reddy, Rachana Narayanankutty, Joy Mathew, Sandra Thomas, Sunil Sukhada, Makrand Deshpande, Sasi Kalinga, Gokulan, Rajesh Hebbar, Jayashankar, Chemban Vinod Jose, Sudheer Karamana</td>
      <td>Amen tells the story of people around an ancient Nasrani Church. The plot is set in a village, Kumarankary, where its inhabitants are always garbed in white - a motif which the film deftly ...</td>
      <td>7.8</td>
      <td>2543</td>
    </tr>
    <tr>
      <th>tt2476214</th>
      <td>Ayalum Njanum Thammil...</td>
      <td>2012</td>
      <td>2012-10-11</td>
      <td>Drama, Family, Romance</td>
      <td>160</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Lal Jose</td>
      <td>Bobby, Sanjay</td>
      <td>Prithviraj Sukumaran, Prathap Pothen, Narain, Samvrutha Sunil, Vijay Babu, Rima Kallingal, Salim Kumar, Kalabhavan Mani, Hemanth Menon, Ambika Mohan, Anil Murali, Ramya Nambeeshan, Prem Prakash, Sidhartha Siva, Sukumari</td>
      <td>A story on how a brilliant and dedicated senior doctor molds an irresponsible amateur doctor into one much like him, and how a forbidden relationship comes in between.</td>
      <td>7.9</td>
      <td>2345</td>
    </tr>
    <tr>
      <th>tt6097918</th>
      <td>Munthirivallikal Thalirkkumbol</td>
      <td>2017</td>
      <td>2017-01-20</td>
      <td>Comedy, Family, Romance</td>
      <td>154</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Jibu Jacob</td>
      <td>V.J. James, M. Sindhuraj</td>
      <td>Mohanlal, Meena, Aima Sebastian, Sanoop Santhosh, Anoop Menon, Alencier Ley Lopez, Kalabhavan Shajohn, Neha Saxena, Rahul Madhav, Sudheer Karamana, Srinda Ashab, Suraj Venjaramoodu, Leena Antony, Reena Bashir, Resmi Boban</td>
      <td>This onscreen adaptation of the story 'Pranayopanishad' (The Upanishad of Love) follows Ulahannan, a middle aged government servant, through his emotional journey of misconceptions and love.</td>
      <td>7.0</td>
      <td>2132</td>
    </tr>
    <tr>
      <th>tt2363047</th>
      <td>22 Female Kottayam</td>
      <td>2012</td>
      <td>2012-05-03</td>
      <td>Crime, Drama, Romance</td>
      <td>120</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Aashiq Abu</td>
      <td>Abhilash Kumar, Syam Pushkaran</td>
      <td>Vijay Babu, Rima Kallingal, Fahadh Faasil, Prathap Pothen, Sajid, Srinda Ashab, Aswathi Naduthodi, Sandeep Narayan</td>
      <td>A 22 year old nurse who was betrayed and raped exerts some extreme revenge on her tormentors.</td>
      <td>7.4</td>
      <td>1786</td>
    </tr>
    <tr>
      <th>tt6915596</th>
      <td>Mayaanadhi</td>
      <td>2017</td>
      <td>2017-12-22</td>
      <td>Drama, Romance</td>
      <td>136</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Aashiq Abu</td>
      <td>Dileesh Nair, Syam Pushkaran</td>
      <td>Aishwarya Lekshmi, Tovino Thomas, Leona Lishoy, Ilavarasu, Harish Uthaman, Aparna Balamurali, Bijibal, Shine Tom Chacko, Basil Joseph, Rajesh Madhavan, Maya Menon, Alphy Panjikaran, Lijo Jose Pellissery, Unnimaya Prasad, Rachana</td>
      <td>The life of Mathan, a mule driver in a gang and Aparna an aspiring actress.</td>
      <td>7.9</td>
      <td>1761</td>
    </tr>
    <tr>
      <th>tt4110972</th>
      <td>Vellimoonga</td>
      <td>2014</td>
      <td>2014-11-06</td>
      <td>Comedy, Romance</td>
      <td>129</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Jibu Jacob</td>
      <td>Joji Thomas</td>
      <td>Biju Menon, Nikki Galrani, Aju Varghese, Asif Ali, Chempil Asokan, Shivaji Guruvayoor, Anu Joseph, Sasi Kalinga, K.P.A.C. Lalitha, Lena, Majeed, Veena Nair, Saju Navodaya, Rajesh Paravoor, Geetha Salam</td>
      <td>A happy go lucky politician is smitten by a girl half his age and tries his luck winning her hand.</td>
      <td>7.5</td>
      <td>1680</td>
    </tr>
    <tr>
      <th>tt1988774</th>
      <td>Salt n' Pepper</td>
      <td>2011</td>
      <td>2011-07-08</td>
      <td>Comedy, Drama, Romance</td>
      <td>118</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Aashiq Abu</td>
      <td>Dileesh Nair, Syam Pushkaran</td>
      <td>Lal, Shweta Menon, Mythili, Asif Ali, Baburaj, Vijayaraghavan, Kalpana, Ahamed Siddique, Majeed, Munshi Venu, Aliyar, Sunil Sukhada, Archana Kavi, Ambika Mohan, Favour Francis</td>
      <td>The story of a few foodies, whose fondness of food bonds them together.</td>
      <td>7.4</td>
      <td>1587</td>
    </tr>
    <tr>
      <th>tt3995348</th>
      <td>100 Days of Love</td>
      <td>2015</td>
      <td>2015-03-20</td>
      <td>Comedy, Romance</td>
      <td>153</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Jenuse Mohammed</td>
      <td>Jenuse Mohammed</td>
      <td>Dulquer Salmaan, Nithya Menon, Sekhar Menon, Nebish Benson, Aju Varghese, Vineeth</td>
      <td>A man, who just got dumped, falls in love with another girl who he bullied in his childhood.</td>
      <td>6.6</td>
      <td>1558</td>
    </tr>
    <tr>
      <th>tt4947084</th>
      <td>Anarkali</td>
      <td>2015</td>
      <td>2015-11-13</td>
      <td>Drama, Musical, Romance</td>
      <td>160</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Sachy</td>
      <td>Sachy</td>
      <td>Prithviraj Sukumaran, Biju Menon, Kabir Bedi, Priyal Gor, Mia George, Suresh Krishna, Sudev Nair, Samskruthy Shenoy, Arun, Chempil Asokan, Sunil Babu, Renith Elamadu, Assim Jamal, Madhupal, Renji Panicker</td>
      <td>The story of a Naval officer who falls in love with the gorgeous daughter of a harsh and disapproving Vice Admiral.</td>
      <td>6.8</td>
      <td>1506</td>
    </tr>
    <tr>
      <th>tt10551608</th>
      <td>Thanneer Mathan Dhinangal</td>
      <td>2019</td>
      <td>2019-08-09</td>
      <td>Comedy, Romance</td>
      <td>136</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Girish A.D.</td>
      <td>Girish A.D., Dinoy Poulose</td>
      <td>Vineeth Sreenivasan, Mathew Thomas, Anaswara Rajan, Nalsen K. Gafoor, Vaisakh Vijayan, Franco Francis, Irshad, Dinoy Poulose, Nisha Sarangh, Sajin Cherukayil, Shabareesh Varma, Sree Renjini, Binny Rinky Benjamin, Girish A.D., Anagha Ajith</td>
      <td>A rom-com based in a school where a schoolteacher named Ravi Padmanabhan comes into the lives of Jason and his friends.</td>
      <td>8.2</td>
      <td>1483</td>
    </tr>
    <tr>
      <th>tt2146836</th>
      <td>Diamond Necklace</td>
      <td>2012</td>
      <td>2012-07-21</td>
      <td>Drama, Romance</td>
      <td>157</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Lal Jose</td>
      <td>Ikbal Kuttipuram</td>
      <td>Fahadh Faasil, Samvrutha Sunil, Anusree, Gauthami Nair, Rohini, Sreenivasan, Prashant Nair, Mithun Ramesh, Sukumari</td>
      <td>The story of a young doctor who lives a luxurious life based on credit cards, chasing girls and his bad intentions once he goes bankrupt.</td>
      <td>7.2</td>
      <td>1474</td>
    </tr>
    <tr>
      <th>tt2648034</th>
      <td>Annayum Rasoolum</td>
      <td>2013</td>
      <td>2013-01-04</td>
      <td>Romance</td>
      <td>168</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Rajeev Ravi</td>
      <td>Santosh Aechikkanam, Rajeev Ravi</td>
      <td>Fahadh Faasil, Andrea Jeremiah, Sunny Wayne, Shine Tom Chacko, Soubin Shahir, Aashiq Abu, Srinda Ashab, Rajesh Sharma, Sija Rose, P. Balachandran, Joy Mathew, K.P.A.C. Beatrice, Muthumani, Jins Baskar, Molly Kannamaly</td>
      <td>The story of how Rasool, a Muslim falls in love with a Christian girl, Anna and how her family's strong disapproval makes their relationship change for the worse.</td>
      <td>7.4</td>
      <td>1384</td>
    </tr>
    <tr>
      <th>tt6096884</th>
      <td>Njandukalude Naattil Oridavela</td>
      <td>2017</td>
      <td>2017-09-01</td>
      <td>Comedy, Family, Romance</td>
      <td>131</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Althaf Salim</td>
      <td>George Kora, Althaf Salim</td>
      <td>Nivin Pauly, Shantikrishna, Lal, Aishwarya Lekshmi, Ahaana Krishna, Srinda Ashab, S.V. Krishna Shankar, Saiju Kurup, Siju Wilson, Antony Kochi, Sharafudheen, Omana Ouseph, Dileesh Pothan, Althaf Salim, Naseer Sankranthy</td>
      <td>Kurian returns home when his family summons him, believing it to have something to do with his marriage. However, he learns that his mother has breast cancer and supports her along with his family.</td>
      <td>7.0</td>
      <td>1232</td>
    </tr>
    <tr>
      <th>tt6581440</th>
      <td>Adam Joan</td>
      <td>2017</td>
      <td>2017-09-01</td>
      <td>Romance, Thriller</td>
      <td>160</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Jinu Abraham</td>
      <td>NaN</td>
      <td>Prithviraj Sukumaran, Narain, Rahul Madhav, Bhavana, Mishti, Lena, Melanie Beiler, Benny Bereal, Christopher John Bridgett, Danny Darren, Pamela Hanson, Grant Manson McGregor, Wendy j Morris, Maniyanpilla Raju, Mark Strange</td>
      <td>The story revolves around the life of a planter, Adam Joan Pothan from the village Mundakkayam. One day, he unexpectedly meets a girl named Emy and they go to Scotland together. The new people he meets on his journey changes his life.</td>
      <td>6.5</td>
      <td>1204</td>
    </tr>
    <tr>
      <th>tt9448332</th>
      <td>Ishq</td>
      <td>2019</td>
      <td>2019-05-17</td>
      <td>Drama, Romance, Thriller</td>
      <td>134</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Anuraj Manohar</td>
      <td>Ratheesh Ravi</td>
      <td>Shane Nigam, Ann Sheetal, Shine Tom Chacko, Jaffer Idukki, Leona Lishoy, Lekshmi Nanda Kishore, Kainakary Thankaraj, Parvathi T., Swasika, Premnath, Vivek Anirudh, Rajesh Nanoo, Jithin, Jithan V. Soubhagom</td>
      <td>Two youngsters who try to find joy after they lose out on love and their need for a mutual trust to sustain love and happiness.</td>
      <td>7.6</td>
      <td>1113</td>
    </tr>
    <tr>
      <th>tt7382730</th>
      <td>Luca</td>
      <td>2019</td>
      <td>2019-06-28</td>
      <td>Drama, Mystery, Romance</td>
      <td>151</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Arun Bose</td>
      <td>Arun Bose, Mridul George</td>
      <td>Tovino Thomas, Ahaana Krishna, Nithin George, Vinitha Koshy, Anwar Shereef, Thalaivasal Vijay, Rajesh Sharma, Srikant Murali, Sooraj S. Kurup, Jaffer Idukki, Devi Ajith, Chempil Asokan, Neethu Bala, Justin George, Nijo George</td>
      <td>An investigative thriller with elements of romance, the film narrates the story of two couples: a Kochi-based scrap artist named Luca and his girlfriend Niharika; and a police officer named Akbar and his wife Fathima.</td>
      <td>7.7</td>
      <td>1100</td>
    </tr>
    <tr>
      <th>tt3502488</th>
      <td>Oru Indian Pranayakatha</td>
      <td>2013</td>
      <td>2013-12-20</td>
      <td>Drama, Romance</td>
      <td>150</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Sathyan Anthikad</td>
      <td>NaN</td>
      <td>Fahadh Faasil, Amala Paul, Innocent, Lakshmi Gopalaswamy, Prakash Bare, Babu Annur, Anjana Appukuttan, Bhagyalakshmi, Thiruvalla Bhasi, Rony David, Gopalan, Vinod Kedamangalam, Kani Kusruti, Neeraj Madhav, Rohith Menon</td>
      <td>Aymanam Sidharthan is a local politician who hopes to become big some time in his life, but faces some setbacks in his political career. He meets Irene, a Canadian citizen with roots in Kerala.</td>
      <td>6.7</td>
      <td>1017</td>
    </tr>
    <tr>
      <th>tt5375324</th>
      <td>Anuraga Karikkin Vellam</td>
      <td>2016</td>
      <td>2016-07-07</td>
      <td>Comedy, Family, Romance</td>
      <td>128</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Khalid Rahman</td>
      <td>Naveen Bhaskar</td>
      <td>Biju Menon, Asif Ali, Rajisha Vijayan, Asha Sharath, Sudheer Karamana, Sreenath Bhasi, Soubin Shahir, Naji Mohammed Baji, Maniyanpilla Raju, Tom Alter, Gokulan, Irshad, Levin Simon Joseph, Kalesh Kannattu, Sudhi Koppa</td>
      <td>The equation of Raghu and his son Abhi passes through various stages, and Raghu his son making the mistakes he did once. With a bit of help from someone new in their lives, the family passes through a turf of transformation.</td>
      <td>7.2</td>
      <td>1010</td>
    </tr>
    <tr>
      <th>tt3005920</th>
      <td>5 Sundarikal</td>
      <td>2013</td>
      <td>2013-06-22</td>
      <td>Family, Romance</td>
      <td>140</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Aashiq Abu, Shyju Khalid</td>
      <td>Muneer Ali, Abhilash Kumar</td>
      <td>Jinu Ben, Shine Tom Chacko, Chetan, Fahadh Faasil, Chethan Jayalal, Jayasurya, Chemban Vinod Jose, Pradeep Kottayam, Kavya Madhavan, Reenu Mathews, Biju Menon, Nivin Pauly, Honey Rose, Dulquer Salmaan, Isha Sharvani</td>
      <td>A film comprising of 5 short stories by 5 directors. Each story is about a women.</td>
      <td>6.8</td>
      <td>898</td>
    </tr>
    <tr>
      <th>tt8638640</th>
      <td>June</td>
      <td>2019</td>
      <td>2019-02-15</td>
      <td>Drama, Musical, Romance</td>
      <td>141</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Ahammed Khabeer</td>
      <td>Ahammed Khabeer, Jeevan Baby Mathew</td>
      <td>Rajisha Vijayan, Sarjano Khalid, Joju George, Arjun Asokan, Aswathi Menon, Vaishnavi Venugopal, Sruthy Jayan, Sunny Wayne, Aju Varghese, Jolly Chirayath, Shiny T. Rajan, Margret Antony, Nayana Elza, Harisankar, Sanju K.S.</td>
      <td>The life story of a girl named June from 16 years of her age until she turned 26, thereby giving an insight into those ten years of her life.</td>
      <td>7.4</td>
      <td>886</td>
    </tr>
    <tr>
      <th>tt8619956</th>
      <td>Kidu</td>
      <td>2018</td>
      <td>2018-06-29</td>
      <td>Action, Drama, Romance</td>
      <td>124</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Majeed Abu, Majeed Abu</td>
      <td>Majeed Abu, Abu Majeed</td>
      <td>Purushan Vishnu, Stibin Anagha, Abdullah Ayman, Sudhi Koppa, Pradeep Kottayam, Leona Lishoy, Minon, Ramzan Muhammed, Anjali Nair, Sugathan Sunil</td>
      <td>Kidu is the story of a class teacher, who becomes a great influence in the life of five naughty students when a dramatic incident turns their lives upside down. Will they be able to sustain the tough times?</td>
      <td>7.1</td>
      <td>781</td>
    </tr>
    <tr>
      <th>tt2042633</th>
      <td>Pranayam</td>
      <td>2011</td>
      <td>2011-08-31</td>
      <td>Drama, Romance</td>
      <td>150</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Blessy</td>
      <td>Blessy</td>
      <td>Mohanlal, Jaya Prada, Anupam Kher, Apoorva Bose, Aaryan Krishna Menon, Anoop Menon, Navya Natarajan, Niyas, Niveda Thomas, Dhanya Mary Varghese</td>
      <td>Grace meets her ex husband Achutha Menon after a long period of time.</td>
      <td>7.3</td>
      <td>758</td>
    </tr>
    <tr>
      <th>tt0334482</th>
      <td>Thenkasipattanam</td>
      <td>2000</td>
      <td>2000-12-01</td>
      <td>Comedy, Romance</td>
      <td>150</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Meccartin, Raffi</td>
      <td>Meccartin, Raffi</td>
      <td>Suresh Gopi, Lal, Dileep, Samyuktha Varma, Geethu Mohandas, Kavya Madhavan, Salim Kumar, Sphadikam George, Manka Mahesh, Kochu Preman, Vinuchakravarthy, Aswathi Menon</td>
      <td>Two friends think they have set each other with the right woman but things are not as they seem.</td>
      <td>7.5</td>
      <td>731</td>
    </tr>
    <tr>
      <th>tt8016648</th>
      <td>Ente Mezhuthiri Athazhangal</td>
      <td>2018</td>
      <td>2018-07-27</td>
      <td>Drama, Romance</td>
      <td>148</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Sooraj Thomas</td>
      <td>Anoop Menon, Anoop Menon</td>
      <td>Anoop Menon, Mia George, Hannah Reji Koshy, Dileesh Pothan, Baiju, Alencier Ley Lopez, V.K. Prakash, Lal Jose, Srikant Murali, Tini Tom</td>
      <td>Sanjay Paul, a chef settled in Paris who has traveled around the world wants to add Indian cuisine in his new restaurant. In his quest to get the secret recipes from his friends, he falls in love with Anjali, a custom-candle designer.</td>
      <td>7.5</td>
      <td>698</td>
    </tr>
    <tr>
      <th>tt0357946</th>
      <td>Nandanam</td>
      <td>2002</td>
      <td>2002-12-20</td>
      <td>Comedy, Drama, Romance</td>
      <td>145</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Renjith</td>
      <td>Renjith</td>
      <td>Navya Nair, Prithviraj Sukumaran, Kaviyoor Ponnamma, Revathy, Siddique, Innocent, Aravind Akash, Jagathi Sreekumar, N.F. Varghese, V.K. Sriraman, Saikumar, Jyothirmayi, Sudheesh, Kalaranjini, Jagannatha Varma</td>
      <td>A woman hires a fourth domestic helper despite having three of them already working in her house. The fourth helper, a devotee of Lord Guruvayoorappan has to look after the other three.</td>
      <td>7.3</td>
      <td>690</td>
    </tr>
    <tr>
      <th>tt8667334</th>
      <td>Oru Yamandan Premakadha</td>
      <td>2019</td>
      <td>2019-05-10</td>
      <td>Comedy, Drama, Romance</td>
      <td>165</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>B.C. Noufal</td>
      <td>Bibin George, Vishnu Unnikrishnan</td>
      <td>Dulquer Salmaan, Vishnu Unnikrishnan, Soubin Shahir, Salim Kumar, Nikhila Vimal, Renji Panicker, Samyuktha Menon, Arun Kurian, Bibin George, Dileesh Pothan, Resmi Anil, Asokan, Chempil Asokan, Ponnamma Babu, Baiju</td>
      <td>Movie takes us into the world of a spirited youngster named Lallu and his colorful gang of friends.</td>
      <td>5.5</td>
      <td>670</td>
    </tr>
    <tr>
      <th>tt0867465</th>
      <td>Vinodayathra</td>
      <td>2007</td>
      <td>2007-04-06</td>
      <td>Comedy, Drama, Romance</td>
      <td>130</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Sathyan Anthikad</td>
      <td>Sathyan Anthikad</td>
      <td>Dileep, Mukesh, Meera Jasmine, Seetha, Innocent, Murali, Parvathy Thiruvothu, Nedumudi Venu, K.P.A.C. Lalitha, Mammukoya, Ganapathi, Vijayaraghavan, Sreelatha, Babu Namboothiri, Sabitha Anand</td>
      <td>Journey of Vinod from an irresponsible man to a sensible one, and of those who gets tangled with his life.</td>
      <td>7.1</td>
      <td>652</td>
    </tr>
    <tr>
      <th>tt7478160</th>
      <td>B. Tech</td>
      <td>2018</td>
      <td>2018-05-05</td>
      <td>Comedy, Romance, Thriller</td>
      <td>146</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Mridul Nair</td>
      <td>J. Ramakrishna Kulur, J. Ramakrishna Kulur</td>
      <td>Asif Ali, Aparna Balamurali, Anoop Menon, Sreenath Bhasi, Saiju Kurup, Aju Varghese, Deepak Parambol, Shani Shaki, Arjun Asokan, Harish Raj, Niranjana Anoop, Alencier Ley Lopez, Neena Kurup, Jayan Cherthala, V.K. Prakash</td>
      <td>A bunch of engineering students in Bengaluru struggle to get through the course due to their lackadaisical attitudes and frequent skirmishes within the college. An incident outside the ...</td>
      <td>6.2</td>
      <td>643</td>
    </tr>
    <tr>
      <th>tt0319337</th>
      <td>Ee Parakkum Thalika</td>
      <td>2001</td>
      <td>2001-07-04</td>
      <td>Comedy, Drama, Romance</td>
      <td>138</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Thaha</td>
      <td>V.R. Gopalakrishnan, Mahesh Mithra</td>
      <td>Dileep, Harisree Asokan, Nithya Das, Salim Kumar, P. Vasu, Cochin Hanifa, Oduvil Unnikrishnan, Babu Namboothiri, Machan Varghese, Sabitha Anand, Praseetha, Kunchan</td>
      <td>Unni,a bus owner and his friend Sundaresan ply a bus service. The pathetic condition of his bus creates concerns for Unni. Things take a turn when a girl happens to come into their lives.</td>
      <td>7.2</td>
      <td>616</td>
    </tr>
    <tr>
      <th>tt7117870</th>
      <td>Love Action Drama</td>
      <td>2019</td>
      <td>2019-09-13</td>
      <td>Comedy, Romance</td>
      <td>146</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Dhyan Sreenivasan</td>
      <td>Dhyan Sreenivasan</td>
      <td>Nivin Pauly, Nayanthara, Aju Varghese, Vineeth Sreenivasan, Basil Joseph, Mallika Sukumaran, Dhanya Balakrishna, Jude Anthany Joseph, Durga Krishna, Maya Menon, Prajin Padmanabhan, Renji Panicker, Motta Rajendran, Sunder Ramu, Gayathri Shan</td>
      <td>A man goes through all kinds of action to impress the girl he is in love with a hope to marry her.</td>
      <td>6.1</td>
      <td>603</td>
    </tr>
    <tr>
      <th>tt0400186</th>
      <td>Chanthupottu</td>
      <td>2005</td>
      <td>2005-08-26</td>
      <td>Comedy, Drama, Romance</td>
      <td>127</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Lal Jose</td>
      <td>Benny P. Nayarambalam</td>
      <td>Dileep, Gopika, Indrajith Sukumaran, Rajan P. Dev, Biju Menon, Bhavana, Lal, Shobha Mohan, Mala Aravindan, Salim Kumar, Koottickal Jayachandran, Sukumari, Valsala Menon, Sreejith Ravi, Unni s Nair</td>
      <td>A fisherman's son grows up as a woman but things get complicated when she falls in love with a childhood friend.</td>
      <td>6.6</td>
      <td>592</td>
    </tr>
    <tr>
      <th>tt0924260</th>
      <td>Notebook</td>
      <td>2006</td>
      <td>2006-12-15</td>
      <td>Drama, Musical, Romance</td>
      <td>148</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Roshan Andrews</td>
      <td>Bobby, Sanjay</td>
      <td>Roma, Mariya Roy, Parvathy Thiruvothu, Sooraj, Suresh Gopi, Seetha, Aishwarya, Prem Prakash, Sukanya, Raveendran, Mejo Joseph, Harith Cnv</td>
      <td>Three teenage girls in boarding school invite serious trouble when one of them gets pregnant.</td>
      <td>7.0</td>
      <td>582</td>
    </tr>
    <tr>
      <th>tt1815633</th>
      <td>Casanovva</td>
      <td>2012</td>
      <td>2012-01-26</td>
      <td>Action, Romance</td>
      <td>169</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Roshan Andrews</td>
      <td>Bobby, Sanjay</td>
      <td>Mohanlal, Shriya Saran, Vikramjeet Virk, Raai Laxmi, Roma, Jagathi Sreekumar, Lalu Alex, Shanker, Saikumar, Andria Dsouza, David Firefly, Sanjjanaa Galrani, Assim Jamal</td>
      <td>An International businessman and playboy tries to avenge the death of his girlfriend, who was murdered by a gang of robbers, by entrapping them through a reality TV show.</td>
      <td>3.5</td>
      <td>561</td>
    </tr>
    <tr>
      <th>tt1305889</th>
      <td>Thirakkatha</td>
      <td>2008</td>
      <td>2008-09-12</td>
      <td>Drama, Romance</td>
      <td>120</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Renjith</td>
      <td>Renjith</td>
      <td>Priyamani, Prithviraj Sukumaran, Anoop Menon, Samvrutha Sunil, Renjith, Arun, Augustine, N.L. Balakrishnan, Byon, Renjith Chengamanad, Shivaji Guruvayoor, Cochin Hanifa, Kaladharan, Thara Kalyan, Suresh Krishna</td>
      <td>Film director Akbar, after his extremely successful first film, decides to base his second film on the life of a very popular yesteryear actress Malavika, whose present whereabouts are not known.</td>
      <td>7.5</td>
      <td>551</td>
    </tr>
    <tr>
      <th>tt1129411</th>
      <td>Chocolate</td>
      <td>2007</td>
      <td>2007-10-12</td>
      <td>Comedy, Romance</td>
      <td>121</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Shafi</td>
      <td>Sachi, Sethu</td>
      <td>Prithviraj Sukumaran, Jayasurya, Roma, Samvrutha Sunil, Ramya Nambeeshan, Lalu Alex, Shari, Saiju Kurup, Rajan P. Dev, Salim Kumar, Vanitha Krishnachandran, Bindu Panikkar, Sreekumar, Anoop Chandran, Ambika Mohan</td>
      <td>Shyam an irresponsible guy joins a womens college only to satisfy his mother who is also a lecture there</td>
      <td>6.1</td>
      <td>527</td>
    </tr>
    <tr>
      <th>tt9135800</th>
      <td>Brother's Day</td>
      <td>2019</td>
      <td>2019-09-13</td>
      <td>Action, Comedy, Romance</td>
      <td>165</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Kalabhavan Shajohn</td>
      <td>Kalabhavan Shajohn</td>
      <td>Prithviraj Sukumaran, Aishwarya Lekshmi, Prayaga Martin, Madonna Sebastian, Mia George, Prasanna, Kalabhavan Shajohn, Parvathi T., Dharmajan Bolgatty, Naseer Sankranthy, Vijayaraghavan, Anjana Appukuttan, Mime Gopi, Jayashankar, Prem Prakash</td>
      <td>One day Rony meets an unexpected guest Chandy and they become very close, however, Chandy does not disclose his true identity. Over time Chandy discloses his identity and introduces his daughter Santa and a lot of unexpected events follow.</td>
      <td>4.6</td>
      <td>494</td>
    </tr>
    <tr>
      <th>tt3332690</th>
      <td>Mosayile Kuthira Meenukal</td>
      <td>2014</td>
      <td>2014-01-24</td>
      <td>Comedy, Drama, Romance</td>
      <td>129</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Ajith Pillai</td>
      <td>Ajith Pillai, Vipin Radhakrishnan</td>
      <td>Asif Ali, P. Balachandran, Janani Iyer, Jijoy Rajagopalan, Nishanth Sagar, Nedumudi Venu</td>
      <td>An unusual friendship between two escaped convicts is formed during a cat and mouse chase, which leads them to the beautiful islands of Lakshadweep.</td>
      <td>6.4</td>
      <td>488</td>
    </tr>
    <tr>
      <th>tt0400585</th>
      <td>Vettam</td>
      <td>2004</td>
      <td>2004-08-20</td>
      <td>Comedy, Romance</td>
      <td>163</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Priyadarshan</td>
      <td>Priyadarshan, Siby K. Thomas</td>
      <td>Dileep, Bhavna Pani, Kalabhavan Mani, Innocent, Janardanan, Nedumudi Venu, Radha Ravi, Jagathi Sreekumar, Cochin Hanifa, Jagadish, Mammukoya, Baiju, Geetha Vijayan, Sphadikam George, Bindu Panikkar</td>
      <td>As Gopalakrishnan attempts to smuggle an expensive neckless, he crosses paths with a woman looking for her fiancé.</td>
      <td>6.5</td>
      <td>484</td>
    </tr>
    <tr>
      <th>tt0973808</th>
      <td>Goal</td>
      <td>2007</td>
      <td>2007-05-11</td>
      <td>Drama, Romance, Sport</td>
      <td>167</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Kamal</td>
      <td>Kalavur Ravikumar</td>
      <td>Rajith Menon, Aksha Pardasany, Muktha George, Rahman, Mukesh, Salim Kumar, Mithun Ramesh, Kunchan, Captain Raju, Ambika Mohan, Siva, Viplav</td>
      <td>A South Asian community in the UK is obsessed with professional soccer.</td>
      <td>5.3</td>
      <td>479</td>
    </tr>
    <tr>
      <th>tt0277774</th>
      <td>Kakkakuyil</td>
      <td>2001</td>
      <td>2001-04-14</td>
      <td>Comedy, Romance</td>
      <td>140</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Priyadarshan</td>
      <td>Priyadarshan, Priyadarshan</td>
      <td>Mohanlal, Mukesh, Nedumudi Venu, Jagathi Sreekumar, Jagadish, Innocent, Cochin Hanifa, Augustine, Arzoo Govitrikar, Shweta Menon, Ramya Krishnan, Kaviyoor Ponnamma, Suchetha, Sukumari, Shalu Menon</td>
      <td>Kunjunni has a speciality. He has the body of one person and the voice of another person.</td>
      <td>6.3</td>
      <td>475</td>
    </tr>
    <tr>
      <th>tt3261912</th>
      <td>Pattam Pole</td>
      <td>2013</td>
      <td>2013-10-11</td>
      <td>Romance</td>
      <td>122</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Rico Alapan, Azhagappan</td>
      <td>Girish Kumar</td>
      <td>Lalu Alex, V. Jayaprakash, Archana Kavi, Anoop Menon, Malavika Mohanan, Anjali Nair, Dulquer Salmaan</td>
      <td>A trad guy and a rad gal must make it work.</td>
      <td>4.8</td>
      <td>451</td>
    </tr>
    <tr>
      <th>tt5278634</th>
      <td>White</td>
      <td>2016</td>
      <td>2016-07-29</td>
      <td>Romance</td>
      <td>149</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Uday Ananthan</td>
      <td>Uday Ananthan, Praveen Balakrishnan</td>
      <td>Mammootty, Huma Qureshi, Shankar Ramakrishnan, Siddique, Bitu Thomas, Evelina Asmonaite, Daniel Eghan, Francesca Fraser, Phelim Kelly, Tearry Konjanthed, Cristian Lazar, Adam Lazarus, Bradley Wj Miller, John Millichap, Lisa Ronaghan</td>
      <td>A romantic story of a middle-aged billionaire and a younger woman in London.</td>
      <td>3.0</td>
      <td>433</td>
    </tr>
    <tr>
      <th>tt6517874</th>
      <td>Ramante Edenthottam</td>
      <td>2017</td>
      <td>2017-05-12</td>
      <td>Comedy, Drama, Romance</td>
      <td>122</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Ranjith Sankar</td>
      <td>NaN</td>
      <td>Kunchacko Boban, Anu Sithara, Joju George, Sreejith Ravi, Muthumani, Ramesh Pisharody, Aju Varghese, Udaykrishnan, Gokulan, Jayasurya</td>
      <td>Raman lives a beautiful life in his forest resort. Malini visits Eden and the two meet and fall in love. The film travels through their relationship across a few years and how the two evolve as individuals.</td>
      <td>5.9</td>
      <td>413</td>
    </tr>
  </tbody>
</table></body></html>