<html itemscope="" itemtype="http://schema.org/WebPage" lang="en-IN">
 <body>
 
<center>
  <form id="f1" action='/top/search/' method="POST">
    {% csrf_token %}
    <center>
        <h1>
        MovieZap Search Engine
        </h1>
      </center>
       
          
          <input  style="box-shadow:         3px 3px 5px 6px lightcoral;border-radius:20px;border:5px solid red; font-size:25px;width:450px;height:50px;border-left-width:900px;line-height:1px;border-width:5px" aria-autocomplete="both" aria-haspopup="false" aria-label="Search" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" class="gLFyf gsfi" data-ved="0ahUKEwiNy5fJ15LqAhUIzzgGHQkVC1IQ39UDCAQ" jsaction="paste:puy29d" maxlength="2048" name="search" onsearch="submitse()" placeholder="MovieZap Search" role="combobox" spellcheck="false" title="Search" type="search" value=""/>
          
          
          
        
  <div style="width:480px;height:50px;">  
      </center>
       <center> 
      <input style="box-shadow:         3px 3px 5px 6px lightslategray;"class="gNO89b" aria-label="Google Search" name="btnK" type="submit" data-ved="0ahUKEwjbk4ul5orqAhX0xzgGHYlmAREQ4dUDCAo" value="MovieZap Search"> </input> 
    </center>
  </form> 
  <div style="width:480px;height:90px;">
  </div><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>title</th>
      <th>year</th>
      <th>date_published</th>
      <th>genre</th>
      <th>duration</th>
      <th>country</th>
      <th>language</th>
      <th>director</th>
      <th>writer</th>
      <th>actors</th>
      <th>description</th>
      <th>avg_vote</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Android Kunjappan Version 5.25</td>
      <td>2019</td>
      <td>2019-11-08</td>
      <td>Comedy</td>
      <td>140</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>Ratheesh Balakrishnan Poduval</td>
      <td>Ratheesh Balakrishnan Poduval</td>
      <td>Soubin Shahir, Suraj Venjaramoodu, Kendy Zirdo, Saiju Kurup, Parvathi T., Rajesh Madhavan, Sivadas Kannur, Unni Raja, Renji Kankol, Megha Mathew, Danil Akufa, Ragu Annur, Shivadas C., Jathana C.V., Rajesh Cochin</td>
      <td>Story of a conventional, conservative small town villager and his son who has to move away from home due to his profession. Their relationship gets an endearing twist when an AI humanoid enters their lives and fills in their emptiness.</td>
      <td>9.6</td>
    </tr>
    <tr>
      <td>Ananthu V/S Nusrath</td>
      <td>2018</td>
      <td>2018-12-28</td>
      <td>Comedy, Drama, Family</td>
      <td>149</td>
      <td>India</td>
      <td>Kannada</td>
      <td>Sudheer Shanbhogue</td>
      <td>Sudheer Shanbhogue</td>
      <td>Vinay Rajkumar, Latha Hegde, P. Ravishankar, Guruprasad, B. Suresh, Dhorairaj Bhagavan, Suchendra Prasad, Dattanna, Ashwithi, Naveen D. Padil, Harini, K.P. Sridhar, Krishna Adiga, Vijeth Gowda, Swathi Gurudath</td>
      <td>Ananthu is advocate belonging to an orthodox Brahmin family, who falls in Love with Nusrath Fathima baig, a Muslim girl. How Ananthu wins his love is the plot. Whole love story revolves in Court and Narrated in a humorous way.</td>
      <td>9.4</td>
    </tr>
    <tr>
      <td>Ardaas Karaan</td>
      <td>2019</td>
      <td>2019-07-19</td>
      <td>Drama</td>
      <td>140</td>
      <td>India</td>
      <td>Punjabi</td>
      <td>Gippy Grewal</td>
      <td>Gippy Grewal</td>
      <td>Gippy Grewal, Gurpreet Ghuggi, Sapna Pabbi, Malkeet Rauni, Japji Khaira, Sardar Sohi, Rana Jung Bahadur, Yograj Singh, Meher Vij, Kuljinder Singh Sidhu, Manpreet Rayat, Gurfateh Singh Grewal, Aman Khatkar, Raja Dhillon, Seerat Rana</td>
      <td>The film revolves around the lives of three elderly men who have to deal with the changing times and conflicts among their family members while trying to instill family values among them.</td>
      <td>9.2</td>
    </tr>
    <tr>
      <td>Aynabaji</td>
      <td>2016</td>
      <td>2016-09-30</td>
      <td>Crime, Mystery, Thriller</td>
      <td>147</td>
      <td>Bangladesh</td>
      <td>Bengali</td>
      <td>Amitabh Reza Chowdhury</td>
      <td>Syed Gaosul Alam Shaon, Anam Biswas</td>
      <td>Chanchal Chowdhury, Masuma Rahman Nabila, Bijori Barkatullah, Partho Barua, Amitabh Reza Chowdhury, Heera Chowdhury, Brindabon Das, Lutfur Rahman George, Shawkat Osman, Sohel Rana, Gousul Alam Shaon, Arifin Shuvo</td>
      <td>Ayna is an actor and the prison is his stage. He slips into the characters of the powerful convicted in exchange of money and take their place in prison. This strange profession is borne ...</td>
      <td>9.2</td>
    </tr>
    <tr>
      <td>AA BB KK</td>
      <td>2018</td>
      <td>2018-06-07</td>
      <td>Drama</td>
      <td>121</td>
      <td>India</td>
      <td>Hindi, Marathi, Malayalam</td>
      <td>Ramkumar Shedge</td>
      <td>Aba Gaikwad, Aaba Gayakwad</td>
      <td>Sajid Ali, Tamannaah Bhatia, Bhakti Chavan, Arya Ghare, Sahil Joshi, Kishore Kadam, Prema Kiran, Ravi Kishan, Savita Malpekar, Vijay Patkar, Maithili Patwardhan, Sunny Pawar, Satish Phulekar, Satish Pulekar, Kamlesh Sawant</td>
      <td>A girl is the replica of a goddess, but in reality sometimes the truth is fearful. Even today a newborn girl child is killed in the milk barrel filled till the brim or is crushed beneath ...</td>
      <td>9.2</td>
    </tr>
    <tr>
      <td>Aguner Poroshmoni</td>
      <td>1994</td>
      <td>1994-12-16</td>
      <td>Drama, War</td>
      <td>123</td>
      <td>Bangladesh</td>
      <td>Bengali</td>
      <td>Humayun Ahmed</td>
      <td>Humayun Ahmed, Humayun Ahmed</td>
      <td>Bipasha Hayat, Asaduzzaman Noor, Abul Hayat, Dolly Johur, Shila Ahmed, Hosne Ara Putul, Mozammel Hossain, Dilara Zaman, Tithi Haque, Saleh Ahmed, Zahir Biswas, Lutfur Rahman George, Tuhin, Yamin Azman, Badruddoza</td>
      <td>In the middle of the 1971;curfew is going on all over the Bangladesh. The liberation army is operated as effective guerrilla force - Badiul Alam is one them. Alam plans for starting ...</td>
      <td>9.1</td>
    </tr>
    <tr>
      <td>Adutha Chodyam</td>
      <td>2019</td>
      <td>2019-05-24</td>
      <td>Drama</td>
      <td>112</td>
      <td>India</td>
      <td>Malayalam</td>
      <td>A.K.S. Nambiar</td>
      <td>Sathar Nabee, A.K.S. Nambiar</td>
      <td>Sheikh Rasheed, Malavika</td>
      <td>NaN</td>
      <td>9.1</td>
    </tr>
  </tbody>
</table></form></body></html>